@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,regular,500,700,900);
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    height: 100%;
}
body{
    background-color: #eee;
}

/*This is where you can edit the orange box*/
.side-menu{
    width: 210px;
    height: 100%;
    box-sizing: border-box;
    background-color: #FF7937;
    display: flex;
    flex-flow: column nowrap;
    position: sticky;

    transition: .5s;
}
.side-menu form{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 50px;
    border-radius: 100px;
    border: 1px solid #fff;

}
.side-menu form input,
.side-menu form button{
    background-color: transparent;
    color: #fff;
    border:none;
    padding:5px 10px;
}
.side-menu form input{
    width: 230px;
}
.side-menu label{
    position: absolute;
    width: 40px;
    height: 80px;
    background-color: #000;
    color: #fff;
    right: -40px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    border-radius: 0 10px 10px 0;
}
#side-menu-switch{
    position: absolute;
    opacity: 0;
}
#side-menu-switch:checked + .side-menu{
    transform: translateX(-100%);
}
#side-menu-switch:checked + .side-menu label .fas{
    transform:scaleX(-1);
}
::placeholder {
     /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}
.side-menu form button{
    width: 50px;
}
.side-menu form input:focus::placeholder{
    color: #ccc;
}
.side-menu form input:focus,
.side-menu form button:focus{
    outline: none;
}

/*Anything below this line is for the icons and links*/
nav {
    margin-top: 200px;

    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav a{
    padding:50%;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-family: 'Noto Sans TC',sans-serif;
}

 nav a+a::before{
     content: '';
     position: absolute;
     border-top: 1px solid #fff;
     left: 10px;
     right: 10px;
     top: 0;
 }

 /* Method 1 */
 nav a .fa-sharp{
     margin-right: -1.1em;
     transform: scale(10);
     transition: .5s;
 }
